# ignore build
Computer-DataBase/target/

# ignore .project
Computer-DataBase/.project

# ignore settings
Computer-DataBase/.settings/

#ignore classpath
Computer-DataBase/.classpath

#ignore jdbc properties
Computer-DataBase/src/main/ressources/datasource.properties
