# ignore build
**/target/

# ignore .project
**/.project

# ignore settings
**/.settings/

#ignore classpath
**/.classpath

#ignore jdbc properties
Computer-DataBase/persistence/src/main/resources/datasource.properties

#ignore secret key for token
Computer-DataBase/webapprest/src/main/resources/application.properties
